<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2" />
    </startup>

  <connectionStrings>
   <!-- home 
    <add name="PhotoSource" connectionString="Server=DESKTOP-M900E5G\SQLEXPRESS;Database=bsd;Trusted_Connection=True;" providerName="System.Data.SqlClient" />
    <add name="PhotoDestination" connectionString="Server=DESKTOP-M900E5G\SQLEXPRESS;Database=bsd;Trusted_Connection=True;" providerName="System.Data.SqlClient" />
    -->
    
    <!-- NTU -->
    <add name="PhotoSource" connectionString="Server=NTUCLSTR-NTUAPP\NTUAPP;Database=student_images;Trusted_Connection=True;" providerName="System.Data.SqlClient" />
    <add name="PhotoDestination" connectionString="Server=NTUCLSTR-NTUAPP\NTUAPP;Database=student_images;Trusted_Connection=True;" providerName="System.Data.SqlClient" />
  </connectionStrings>
  <appSettings>
    <!-- home 
    <add key="testfilepath" value = "c:\testimages\test\"/>
    <add key="original" value ="C:\testImages\Originals\" />
    <add key="processed" value ="C:\testImages\processed\"/>
        -->
    
    <!-- NTU-->
    <add key="testfilepath" value = "c:\testimages\test\"/>
    <add key="original" value ="C:\testImages\Originals\" />
    <add key="processed" value ="C:\testImages\processed\"/>
    
  </appSettings>
    
</configuration>