<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2" />
    </startup>

  <connectionStrings>
    <add name="PhotoSource" connectionString="Server=DESKTOP-M900E5G\SQLEXPRESS;Database=bsd;Trusted_Connection=True;" providerName="System.Data.SqlClient" />
    <add name="PhotoDestination" connectionString="Server=DESKTOP-M900E5G\SQLEXPRESS;Database=bsd;Trusted_Connection=True;" providerName="System.Data.SqlClient" />
  </connectionStrings>
</configuration>